<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Document</title>
</head>
<body>
	<script>
		function* helloWorld(){
			yield 'hello';
			yield 'world';
			return 'ending';
		}
		
		var hw = helloWorld();
		var x,y;
		const test = ()=>([1,2,3]);
		const test2 = ()=>({x,y});
		const pipeLine = ()=>'test1';


		let template = `
			<ul>
			  <% for(let i=0; i < data.supplies.length; i++) { %>
			    <li><%= data.supplies[i] %></li>
			  <% } %>
			</ul>
			`;

			/*
			echo('<ul>');
			for(let i=0; i < data.supplies.length; i++) {
			  echo('<li>');
			  echo(data.supplies[i]);
			  echo('</li>');
			};
			echo('</ul>');
			*/

		let evalExpr = /<%=(.+?)%>/g;
		let expr = /<%([\s\S]+?)%>/g;

		template = template
		  .replace(evalExpr, '`); \n  echo( $1 ); \n  echo(`')
		  .replace(expr, '`); \n $1 \n  echo(`');

		template = 'echo(`' + template + '`);';
	</script>
</body>
</html>
