
.auto-carousel { 
    width:100%;
    height:100%;
    text-align:center;
    position:relative;
}

.auto-carousel .bg {
    width:100%;
    height:100%; 
    position:relative;
}

.auto-carousel .bg .bg-item {
    width:100%;
    height:100%; 
    position:absolute;   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius:4px;
    text-align:center;
    cursor: pointer;
    transform:translateY(-400px);
    opacity:0;
}

.auto-carousel .bg .bg-item.selected {
    opacity:1;
    transform:translateY(0);
}

.auto-carousel .bg .bg-item.fadeOut {
    animation:fadeOut 1.5s ease-in;
}

.auto-carousel .bg .bg-item.fadeIn {
    animation:fadeIn 1.5s ease-out;

}

.auto-carousel .bg .bg-item:nth-child(1) {
    z-index:10;
}

.auto-carousel .bg .bg-item:nth-child(2) {
    z-index:9;
}

.auto-carousel .bg .bg-item:nth-child(3) {
    z-index:8;
}

.auto-carousel .bg .bg-item:nth-child(4) {
    z-index:7;
}

.auto-carousel .text-container {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    left: 0;
    bottom: 0;
    width:100%;
    background-color: rgba(0,0,0,0.6);
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    color:#fff;
    font-size:12px;
    padding: 2px 6px;
}

@keyframes fadeOut {
    0% {
        transform:scaleX(1) scaleY(1) translateY(0);
        transform-origin: top;
        opacity:1;
    }
    30% {
        transform:scaleX(1.2) scaleY(1) translateY(-400px);
        transform-origin: top;
        opacity:0.7;
    }
    100%{
        transform:scaleX(0.8) scaleY(0.5) translateY(-400px);
        transform-origin: top;
        opacity:0;
    }
}

@keyframes fadeIn {
    0% {
        transform:scaleX(1) scaleY(1) translateY(-400px);
        opacity:0;
        transform-origin: bottom;
    }
    30% {
        transform:scaleX(1.2) scaleY(0.8) translateY(0);
        opacity:0.5;
        transform-origin: bottom;
    }
    100%{
        transform:scaleX(1) scaleY(1) translateY(0);
        opacity:1;
        transform-origin: bottom;
    }
}

.auto-carousel .img-container {
    display:flex;
    position:absolute;
    bottom:-60px;
    width:100%;
    z-index:100;
}

.auto-carousel .img-container>div {
    flex:1;
    height:60px;
    margin:10px;
    margin-bottom:20px;
    cursor: pointer;
    position:relative;
    box-shadow:8px -6px 10px rgba(0,0,0,0.15);
    border-radius:4px;
    border:4px solid #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.auto-carousel .img-container>div.selected {
    border:4px solid #1890ff;
}

.auto-carousel .img-container>div:last-of-type {
    margin-right:20px;
}

.auto-carousel .img-container>div:first-of-type {
    margin-left:20px;
}

/*
    移动端轮播图样式

*/
@media screen and (max-width: 640px) {
    .auto-carousel .bg {
        border-radius:0;
    }
}

