
.mobile-header .logo-container {

}

.mobile-header .img-container {
    width:30px;
    height:30px;
    display:inline-block;
    overflow: hidden;
    border-radius:50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}