html, body{
    width:100%;
    height:100%;
}

#mainContainer {
    width:100%;
    height:100%;
}

.header {
    display:flex;
    align-items: center;
    height:50px;
    font-size:12px;
}

.header .search>button {
    margin:0 4px;
    transform:scale(0.8);
    transform-origin: center;
}

.header .usercenter {
    margin-left:10px;
}

.header .usercenter:hover {
    cursor: pointer;
}

.header .logo {
  display:flex;
  align-items:center;
}

.header .logo img {
  width:42px;
  height:42px;
}

.header .logo span {
  font-size:20px;
  font-weight:600;
  padding-left:4px;
  color:#1890ff;
}

.header .menu {
    border-bottom:1px solid #e8e8e8;
    margin-left:20px;
    display:flex;
    align-items: center;
    flex:5;
    justify-content: space-between;
}

.header .menu>ul {
    border-bottom:none;
}

.header .img-container {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    margin-right:4px;
}

.header .img-container img{
    width:100%;
    height:100%;
}

.header ul.ant-menu-horizontal {
    background-color:transparent;
    border-bottom: none;
}

.header ul.ant-menu-horizontal .ant-menu-item a{
    display:inline-block;
}

.header .menu ul li.ant-menu-item-selected {
    color:#1890ff;
}

.header div.menu ul.logout li {
    padding:0 12px;
}

.header div.menu ul li {
    padding:0 14px;
    font-size:14px;
    font-weight:500;
}

.header div.menu ul li>i {
    margin-right:6px;
    
}

.header .menu ul li.register {
    border-bottom:0;
    padding:0;
    position: absolute;
    right:0;
    
    display:flex;
    align-items: center;
}

.header .menu ul li.register:hover {
    border-bottom:0;
}

.header .menu ul li.register button {
    font-size:12px;
    padding:0 12px;
}

.header .menu ul li.search:hover {
    border-bottom-color:transparent;
}

.header .menu ul li.search.ant-menu-item-selected {
    border-bottom-color:transparent;
}

.header .menu ul li.search button i {
    margin-right:2px;
    
}

.header .menu ul li.ant-menu-item  i{
    /*animation:.headerIconAction 0.8s cubic-bezier(.46, 1, .23, 1.52); */
    transition: all 0.8s cubic-bezier(.46, 1, .23, 1.52);
    transform: rotate(0deg);
    
}

.header .menu ul li.ant-menu-item:hover  i{
    transform:rotate(360deg);
    
}

.header .menu ul li.ant-menu-item span.text{
    display:inline-block;   

}

.header .menu ul li.ant-menu-item-active {
    
}

.header .user-login {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.header .user-login>a {
    margin-right:10px;
}

.header .search {
    display: flex
}

/*

  -------header scroll 样式开始
*/

header.scrollDown {
    background-color: rgba(24, 144, 255,.8);
}

header.scrollDown .logo span {  
  color:#fff;
}

header.scrollDown ul.ant-menu-horizontal {
    /* width:1200px; */
    background-color:transparent;
}

header.scrollDown ul.ant-menu-horizontal .ant-menu-item a{
    display:inline-block;
}

header.scrollDown .menu ul.login li {
    padding:0 14px;
    color:#fff;
}


/*

    -----header scroll 样式结束
*/
 /* 

	------section部分样式
  */


section .leftContainer {
	width:100%;
}

.ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
    font-size:14px;
}


.article-action-container {
    text-align:center;
    margin:20px 0;
}

.article-action-container>div{
    display:inline-flex;
    transform:scale(0.8);
}

.article-action-container button {
    font-size:12px;
}

.article-action-container button.left{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid #0c4e8c;
}

.article-action-container button.right{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/*

－－－－－－轮播图样式－－－－－－－


*/
.leftContainer .ant-carousel .slick-slider {
	padding-bottom:10px;
}

.leftContainer .ant-carousel .slick-slider ul.slick-dots {
    bottom:10px;
    background-color:rgba(255,255,255,0.6);
}

.leftContainer .ant-carousel .slick-dots li button:before {
    color:#403d3d;
    opacity:0.5;
}

.leftContainer .ant-carousel .slick-dots li.slick-active button:before {
    color:#000;
    opacity:0.9;
}
/*

－－－－－－轮播图样式－－－－结束－－－


*/


/* 

-----卡片容器样式－－－－开始－－－

*/




.tabs_news {
    padding-left: 10px;
    width: 380px;
    float: left;
}

.tabs_product {
    
    padding-left: 10px;
    
}


.tabs_product li {
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    width: 257px;
    text-overflow: ellipsis;
}

.clearfix{
  margin-top: 1px;
}



/*image block******START*****/


/*image block******END*****/


.ant-menu-horizontal > .ant-menu-item > a, .ant-menu-horizontal > .ant-menu-submenu > a
{
  display: inline-block !important;
}


/*Footer******Start*****/
.footer {
    
}
/*Footer******End*****/

/*   右边产品  */

.productlinks {
    width: 298px;
    height: 380px;
    margin-top: 6px;
    
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.productlinks-item {
    text-align: left;
    float: left;
    width: 290px;
    position: relative;
    z-index: 1;
    padding: 10px 0 6px 12px;
    line-height: 30px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.productlinks-i {
    text-indent: -10em;
}

.productlinks-item strong {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 50%;
    margin-top: -20px;
    overflow: hidden;
    width: 40px;
    height: 40px;
}

.productlinks-item a {
    padding: 0 10px 0 0;
    white-space: nowrap;
}

.productlinks-item .last, .productlinks-item .pr0 {
    padding: 0;
}

.productlinks-item .pr2 {
    padding-right: 2px;
}

.changeview .productlinks-item {
    padding: 4px 0 3px 50px;
}

.changeview .productlinks {
    height: 300px;
    margin-top: 56px;
}

.item-mail, .item-sns {
    background: #fff;
}

.productlinks-i-mail, .productlinks-i-game, .productlinks-i-sns, .productlinks-i-recommend {
    width: 40px;
    height: 40px;
    text-indent: -10em;
    position: absolute;
    z-index: 3;
}

.productlinks-i-mail {
    background-position: 12px -167px;
}

.productlinks-i-game {
    background-position: 7px -217px;
}

.productlinks-i-sns {
    background-position: 12px -262px;
}

.productlinks-i-recommend {
    background-position: 12px -308px;
}

.ntes-nav-select-unfold .productlinks-mail-fold {
    display: block;
}

#layout-product .productlinks .item-game {
    background-color:#F7F7F7;
}

#layout-product .productlinks .item-recommend {
    background-color:#F7F7F7;
}

.productlinks-mail-fold {
    position: absolute;
    z-index: 100;
    width: 118px;
    height: 154px;
    top: -163px;
    left: -36px;
    display: none;
    background: url(http://img2.cache.netease.com/www/v2013/img/bg_fmail_v3.png) left top no-repeat;
}

.productlinks-mail-warp {
    position: relative;
    z-index: 100;
    background: none;
}

.productlinks-fold-163, .productlinks-fold-126, .productlinks-fold-yeah, .productlinks-fold-mob {
    float: left;
    display: inline;
    width: 116px;
    height: 34px;
    text-indent: -100em;
    overflow: hidden;
    margin-left: 1px;
    margin-bottom: 1px;
}

.productlinks-fold-163 {
    margin-top: 1px;
}



/**Article Content**/

.article-content .img .img-wrap,.hot-news img {
    background-repeat: no-repeat;
    background-position: center
}

.hn-title h2,.in-title h2 {
    z-index: 1;
    font-weight: 600
}

.article-title {
    margin-bottom: .2rem
}

#title .title {
    font-size:18px;
    color:#000;
}

.article-src-time {
    font-size: 12px;
    color: #999;
}

.article-content .section {
    line-height: 1.6em;
    margin-bottom: .3rem;
    margin-top: 0
}

.article-content .txt {
    font-size: 14px
}

.article-content .img-wrap {
    
}

#content {
    padding:20px 0;
}

.article-content .img .txt-wrap {
    font-size: .36rem;
    line-height: 2em
}

.productlinks{
    width:auto;
}

.productlinks-item  {
    width:auto;
}

.productlinks-item  a{
    font-size:10px;
    color:#868484;
}

.productlinks-item  a:hover{
    text-decoration: underline;
}


/*

    ------ 对话框样式

*/


 .ant-modal-body .ant-form .ant-form-item{
    text-align:left;
}

.user-avatar .ant-modal-body .ant-form{
    padding:0;
    text-align: left;
}

.user-avatar .ant-modal-body .ant-form .ant-form-item{
    margin-bottom:10px;
}



.ant-popover .ant-popover-content .ant-steps .ant-steps-item-content .ant-steps-item-description {
    font-size:10px;
}

.chatRecord-container{
    top:50px;
}

.chatRecord-container .ant-modal-body {
    padding:0;
}

.chatRecord-container .ant-modal-body ul li {
    margin-bottom:20px;
    padding:10px;
    border-radius:6px;
    width:60%;
}

.chatRecord-container .ant-modal-body ul li span.ant-text{
    position:absolute;
    left:0;
    bottom:-20px;
    color:#ccc;
    transform: scale(0.8);
    transform-origin:left;
    display: inline-block;
}

.chatRecord-container .ant-modal-body ul li.self {
    float:right;  
}

.chatRecord-container .ant-modal-body ul li.other {
    float:left;    
}

.chatRecord-container .img-container {
    display:inline-block;
    vertical-align: top;
    width:32px;
    height:32px;
    overflow: hidden;
    border-radius: 50%;
    margin-right:10px;
}

.chatRecord-container li.self .img-container {
    float:right;
}

.chatRecord-container li.self .text-container {
    float:right;
    margin-right:8px;
    color:#fff;
    background-color:#1890ff;
}

.chatRecord-container li.other .img-container {
    float:left;
}

.chatRecord-container li.other .text-container {
    float:left;
    margin-right:8px;
    color:#4e5169;
    background-color:#e3e6e6;
}

.chatRecord-container .ant-modal-body ul li .img-container img{
    width:100%;
    height:100%;
}

.chatRecord-container .text-container{
    display:inline-block;
    vertical-align: top;
    width:200px;
    min-height:30px;   
    font-size:12px;
    position:relative;
    padding:10px;
    border-radius:6px;
    
}

.chatRecord-container .ant-form .ant-form-item {
    margin:0;
    text-align:left;
}

.chart-container  .ant-drawer-content-wrapper {
    width:500px !important;
}

.user-comments {
    margin-bottom:20px;
    background-color:#fff;
    padding:20px;
    border-radius:4px;
}


.user-comments .img-container {
    width:110px;
    height:70px;
    margin-right:20px;

}

.user-comments .img-container img {
    width:100%;
    height:100%;
    border-radius:4px;
}

.user-comments .user-action {
    display:flex;
    margin-top: 2px;
    border-radius: 4px;
    background-color: #f7f7f7;
}

.user-comments .user-action>div {
    flex:1;
    text-align: center;
    
    padding: 8px;
    font-size: 12px;
}

.user-comments .user-action>div i{
    margin-right:4px;
}

.user-comments span.text {
    font-size:12px;
    display:inline-block;
    transform:scale(0.9);
    transform-origin: left;
}


/*
    搜索组件样式
*/

.search-container {
    width:300px;
    font-size:12px;
}

.search-container .tags {
    margin:10px 0;
}

.search-container .tags .button {
    color:#1890ff;
    cursor: pointer;
    float:right;
}

.search-container .tags ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.search-container .tags ul li{
    display: inline-block;
    padding: 4px 8px;
    background-color: #f7f7f7;
    margin-right: 4px;
    margin-top: 4px;
    border-radius: 14px;
    cursor: pointer;
}

.search-container .search-input {
    transition:all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    width:100px;
}

.search-container .search-input.click {
    width:300px;
}
/*

    用户列表样式

*/


.user-list .user-list-item {
    position:relative;
    display:flex;
    align-items:center;
    margin:10px 0;
    padding:10px;
    font-size:12px;
    border-bottom: 1px solid #e8e8e8;
}

.user-list .user-list-item .user-img-container {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.user-list .user-list-item .user-img-container img{
    width:100%;
    height:100%;
}


.user-list .user-level {
    display:inline-flex;
    align-items:center;
    margin:0;
    margin-left:4px;
    background-color:rgba(24,144,255,.2);
    border-radius:10px;
    transform:scale(0.7);
    transform-origin:left;
}

.user-list .user-level i {
    margin:0 4px;
}

.user-list .user-level.in {
    padding:0 10px;
    margin-left:-20px;
    color: rgb(11, 60, 31);
    background-color: rgb(161, 222, 186);
}

.user-list .user-level.out {
    padding:0 10px;
    margin-left:-20px;
    color: rgb(11, 60, 31);
    background-color: rgb(216, 220, 218);
}

.user-list .in .flash {
    display:inline-block;
    width:8px;
    height:8px;
    margin-right:4px;
    border-radius:50%;
    background-color: rgb(24, 99, 54);
    animation: checkLoginCss 1s infinite;
}

.user-list .user-follow-container>div{
    display:inline-block;
    margin:0 10px;
    text-align: center;
}

.user-list .user-follow-container>div span{
    color:#000;
}

.user-list .user-action-container {
    position: initial;
    flex:1;
    display: flex;
    justify-content: flex-end;
}

.user-list .user-action-container button {
    font-size:12px;
    transform:scale(0.8);
}

.search-content {
    padding-left:40px;
    text-align:left;
} 

.search-content .search-option .ant-select {
    padding-left:20px;
    font-size:12px;
}

.search-content .search-option .ant-calendar-picker{
    padding-left:4px;
}
.search-content .search-option span, .search-content .search-option span input{
    font-size:12px;
}

/*
     浏览历史列表样式
*/


.news-list .ant-list-item .ant-list-item-meta-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:330px;
}


.news-list .ant-list-item img {
    width:100%;
    
}


.news-list  span.text {
    font-size:12px;
    display:inline-block;
    transform:scale(0.9);
    transform-origin:left;
}

.news-list  a {
    font-size: 12px;
    color: black;
    font-weight: 500;

}

.ant-tabs .ant-tabs-tab, .ant-tabs .ant-tabs-tab span {
    font-size:12px;
}

/*

    ------评论组件样式开始
*/


.commentsContainer {
    padding-top:10px;
    text-align:left;
    font-size:12px;
}

.comment-select {
    color: rgba(0,0,0,0.85);
    border-radius: 4px;
    font-size:12px;
    display:inline-flex;
    align-items: center;
    background-color: #f7f7f7;
    padding: 10px 20px;
    border-bottom: 1px solid #e8e8e8
}

.comment-select .text {
    font-size: 16px;
    font-weight: 500;
}

.comment-select .num{
    color:#1890ff;
    font-weight:100;
    padding:0 4px;
    font-size:16px;
}

.commentsContainer .comment{
    padding:20px 0 4px 60px;
    position:relative;
    border-bottom: 1px solid #e8e8e8;
}

.commentsContainer .comment-user-action {
    cursor:pointer;
}

.comment .comment-content {
    padding:6px 0;
    word-break: break-word;
}

.comment .avatar-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    position:absolute;
    left:0;
}

.comment .avatar-container img{
    width:100%;
    height:100%;
}

.subcommentsContainer  {
    margin-left: 60px;
    padding:0 30px 30px 30px;
    border-radius:4px;
    background-color: #f7f7f7;
    margin-top: 10px;
    position:relative;
    opacity:1;
    transition:all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform-origin: 100% 0;
}

.commentsContainer .hidden {
    display:flex;
    align-items: center;
    position:absolute;
    z-index:100;
    background-color:#1890ff;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding:0 10px;

}

.commentsContainer .hidden .text{
    display:inline-block;
    transform:scale(0.8);
    transform-origin: center;
}

.commentsContainer .hidden.close {
    bottom:0;
    left:50%;
    margin-left:-30px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.commentsContainer .hidden.open {
    right:0;
    bottom:-18px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


.comment .comment-content .popover-content {
    color:#1890ff;
    cursor: pointer
}

.comment .label {
    display: inline-block;
    background-color: #1890ff;
    border-radius: 4px;
    padding: 0 6px;
    transform: scale(0.7);
    color: #fff;
}

.comment .comment-button {
    color: #1890ff;
    transform: scale(0.8);
    display: inline-block;

}
.comment .comment-button:hover {
    cursor: pointer;

}

.comment .comment-article {
    padding: 20px;
    background-color: #f7f7f7;
    border-radius:4px;
}

.comment .article-img {
    height: 80px;
    width: 140px;
    overflow: hidden;
    margin-right: 10px;

}

.comment .article-img img{
    width:100%;
    height:100%;
    border-radius:4px;
}

.comment .text {
    display: inline-block;
    transform: scale(0.8);
    transform-origin: left;
}

.comment .comment-user-action>div {
    display:flex;
}

.comment .comment-user-action>div>span {
   flex:1;
   white-space: nowrap;
}

/*
    
*/
.comment.selected {
    animation:selectedComment 1s infinite;
}

.comment.selected .subcommentsContainer>.comment {
    background-color:transparent;
}

.comment.user {
    background: rgb(255, 255, 255);
    margin-bottom: 20px;
    padding: 20px;
    border-radius:4px;
    border:none;
    font-size:12px;
}

.comment.user .comment-user-info {
    display:flex;
    align-items: center;
}

.comment.user .avatar-container {
    position:relative;
    margin-right:10px;
    width: 30px;
    height: 30px;
}

.comment.user .comment-user-action {
    padding:0;
    border-radius:4px;
    margin-top:2px;
    border-bottom:none;
}

.comment.user .comment-user-action>div {
    background-color: #f7f7f7;
    margin-top: 2px;

}

.comment.user .comment-user-action>div>span {
    flex:1;
    text-align:center;
    padding:4px;  
    margin-right:0;
    cursor: pointer;
}

.comment.user .comment-user-action>div>span:hover {
    background-color:#fff;
}

.comment.user .comment-user-action>div>span i{
    margin-right:4px;
}

.comment.user .ant-card.news {
    margin:0;
    cursor: pointer;
    padding:20px;
    background-color:#f7f7f7;
}
  
.ant-modal.no-bg .ant-modal-content {
    background-color:transparent;
    box-shadow: none
}

.ant-modal.no-bg .ant-modal-body {
    padding:0;
}

.comment .comment-user-action>div span i{
    padding-right:4px;  
}

.comment .comment-user-action>div span i.caret{
    margin-left:4px;  
}

.comment .comment-user-action>div span.addFlash i.motion{ 
    animation:iconAction 0.5s ease-out;  
}

.commentsContainer  span.comment_date {
    float:right;
    margin-right:0;
    cursor:none;
}

.comment .search-list-container {
    padding-left:0;
    margin-top:4px;
    list-style:none;
    width:100%;
    background-color:#fff;
    border-radius:4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.comment .search-list-container li {
    padding:5px 10px;
    color:rgba(0, 0, 0, 0.65);
    
}

.comment .search-list-container li.active {
    background-color:#fafafa;

}

.comment .search-list-container li.selected {
    background-color:#e6f7ff;
}

.comment .button-container {
    position: absolute;
    top: 40px;
    right: -60px;
    
}

.comment .button-container button{
    font-size:12px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}


/*

    收藏夹样式
*/
.collect-container {
    border-bottom:1px solid #e8e8e8;
    font-size:12px;
    padding:10px;

}

.collect-container.forSimple {
    border-bottom:none;
    background-color:#f7f7f7;
    border-radius:4px;
}

.collect-container.forSimple .news.forSimple{
    background-color:#fff;
}

.collect-container .collect-header {
    display:flex;
    align-items:center;
    cursor:pointer;
}

.collect-container .collect-header .collect-card {
    flex:1;
    display: inline-flex;
    align-items: center;
    margin-left: 20px;
}

.collect-container .collect-header .collect-card i{
    transition:all 0.3s; 
}

.collect-container .collect-header .collect-card i.addFlash{
    animation:iconAction 0.5s ease-out;
}

.collect-container .collect-header .motion {
    width:300px;
    position:absolute;
    margin-left:-10px;
    opacity: 0;
    transform-origin: left;
    color: #1890ff;
    font-size: 24px;
}

.collect-container .collect-header .motion i{
    float:right;
}

.collect-container .collect-header .motion.rollIn {
    transform:translateX(-300px) rotate(-90deg);
}

.collect-container .collect-header .motion.rollOut {
    transform:translateX(-300px) rotate(0deg);
}

.collect-container .collect-header .motion.rollIn.addFlash {
    animation: rollIn 0.5s cubic-bezier(.645,.045,.355,1);
}

.collect-container .collect-header .motion.rollOut.addFlash {
    animation: rollOut 0.5s cubic-bezier(.645,.045,.355,1);
}


.collect-container .collect-header .text {
    display:inline-block;
    transform:scale(0.8);
    transform-origin: left;
}

.collect-container .collect-header .dot {
    display:inline-block;
    margin:0 4px;
}

.collect-container button.button {
    border:none;
    background-color:#ccc;
    transform: scale(0.6);
    color: #fff;
}

.collect-container .add-motion {
    animation:collectAction 0.5s ease-in;
}

.ant-select-dropdown-menu-item.float {
    float:left;
    width:20%;
}

.ant-form label {
    font-size:12px;
}

.ant-form span {
    font-size:12px;
}


/*

    个人中心---动态列表样式
*/
.action {
    font-size:12px;
    text-align:left;
    margin-bottom:20px;
}

.action.forSimple {
    margin-bottom:0;
}

.action .action-head {
    margin-bottom: 2px;
    background-color: #fff;
    border-radius: 4px;
    padding:4px 20px;
}

.action .action-head .button {
    float:right;
}

.action>.action-body {
    border:none;
    padding:10px 20px 20px 20px;
    border-radius:4px;
    background-color:#fff;
}

.action.forSimple>.action-body{
    padding:0;
}

.action>.action-body .avatar-container {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.action>.action-body .user-action {
    display:flex;
    align-items: center;
}

.action>.action-body .user-action>div {
   flex:1;
}

.action>.action-body .avatar-container img {
    width:100%;
    height:100%;
}

.action .action-body .img-container {
    width:33%;
    height:100px;
    display:inline-block;
}

.action .action-body .img-container img {
    width:100%;
    height:100%;
    border-radius:4px;
}

.action .text {
    display: inline-block;
    transform: scale(0.8);
    transform-origin: left;
    font-size:12px;
}

.action .user-action {
    display:flex;
    background-color:#fff;
    margin-top:2px;
    cursor:pointer;
}

.action.forDetail .user-action {
    background-color:#f7f7f7;
}

.action .user-action>span {
    flex:1;
    padding: 4px 0px;
    text-align: center;

}

.action .user-action>span:hover {
    background-color:rgb(247, 247, 247);
}

.action .user-action span>i{   
    margin-right:4px;
}

.action .user-action span>i.addFlash{  
    animation:iconAction 0.5s ease-out;  
}

.action .user-action>div:hover {
    background-color:#f7f7f7;
    cursor: pointer;
}

/*
    内部动态样式
*/

.inner-action {
    font-size:12px;
    color:rgba(0, 0, 0, 0.65);
    padding:10px 20px 20px 20px;
    background-color:#f7f7f7;
    cursor:pointer;
    border-radius:4px;
}

.inner-action .news.forSimple {
    background-color:#fff;
}

.inner-action .topic-card-container.simple {
    background-color:#fff;
}

.inner-action .title {
    font-weight:600;
    color:#000;
}

.inner-action .img-container {
    width: 33%;
    height: 60px;
    display: inline-block;
}

.inner-action .img-container img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

/*

    个人中心---浏览历史样式
*/


.news {
    display:flex;
    align-items: center;
    padding:20px 0;
    margin:10px 0;
    border:none;
    cursor: pointer;
    font-size:12px;
    border-radius:4px;
    position:relative;
    background-color:#fff;
}

.news.motion {
    animation:newsMotion 0.5s; 
}

.news.forSimple {
    margin:0;
    padding:0;
    background-color:#f7f7f7;
}

.news.forSearch {
    background-color:#f7f7f7;
    padding:20px 10px;
}

.news .news-img{
    width:120px;
    height:60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius:4px;
}


.news .news-body {
    flex: 1;
    margin: 0px 40px 0 20px;
    min-width: 0px;
}

.news .news-content {
    line-height:25px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow:ellipsis;
    margin-bottom:4px;
}

.news .news-content p {
    margin:0;
}

.news .news-title {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.news .news-title span{
    color: #000;
    font-size: 14px;
    font-weight: 500;
}

.news .button {
    position:absolute;
    right:10px;
    transform:scale(0.7);
    font-size:12px;
}

.news .text{
    display:inline-block;
    transform-origin: left;
    transform:scale(0.8);
}

.news .tags-container span{
    background-color: #fff;
    color: #072846;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 6px;
    transform-origin: left;
    transform: scale(0.8);
}

.news .avatar-container {
    display:inline-block;
    width:20px;
    height:20px;
    overflow: hidden;
    border-radius: 50%;
}

.news .avatar-container img {
    width:100%;
    height:100%;
}

.news .default-topic-bg {
    height:100%;
    background-color: rgb(65, 158, 245);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news .default-topic-bg .icon {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    background-color: #fff;
    color: rgb(24, 144, 255);
    display: inline-block;
    font-weight: 800;
    box-shadow: 1px 1px 4px rgba(0,0,0,.3);
}

/*

    upload上传组件样式
*/

.user.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select-picture-card {
    width:80px;
    height:80px;
}

.ant-form-item-children .ant-select .ant-select-selection-selected-value {
    font-size:12px;
}


/*
    话题表单页面
*/

.topic-form .topic-img-container {
    width:33%;
    display:inline-block;
    position:relative;
    height:80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius:4px;
}



.topic-form .topic-form-mask {
    width:100%;
    height:100%;
    border-radius:4px;
    opacity: 0;
    position:absolute;
    background-color:rgba(0,0,0,0.5);
    text-align:center;
    line-height:80px;
    color:#fff; 
    transition: all 0.8s cubic-bezier(.46, 1, .23, 1.52);
  
}

.detail-container {
    overflow-y:scroll;
}

.ant-select.filter {
    font-size:12px;
    margin-left:10px;
}

/*
    图表样式

*/

.chart-container {
    position: absolute;
    top: -10px;
    right: -60px;
    width: 40px;
    height: 40px;
}
/*
    消息列表样式
*/

.message-container.ant-collapse>.ant-collapse-item>.ant-collapse-header {
    padding:10px 20px;
}

.message-container .ant-collapse-header i{
    margin-right:4px;
}

.message-container.ant-collapse>.ant-collapse-item>.ant-collapse-content>.ant-collapse-content-box {
    padding:20px;
    background-color:#f7f7f7;
}

.msg-container {
    padding:10px 20px;
    position:relative;
    background-color:#fff;
    box-shadow: 1px 1px 1px rgba(222, 222, 222, 1);
    border-radius:4px;
    font-size:12px;
    cursor:pointer;
    border-bottom:1px solid #f7f7f7;
}

.msg-container .avatar-container {
    width: 30px;
    height: 30px;
    display:inline-block;
    display:inline-block;
    border-radius: 50%;
    overflow: hidden;
}

.msg-container .avatar-container img {
    width:100%;
    height:100%;
}

.msg-container .content-container {
    
}

.msg-container:last-of-type{
    border-bottom:none;
}

.msg-container .text{
    display:inline-block;
    transform:scale(0.8);
    transform-origin:left;
}

.msg-container .button{
    position:absolute;
    right:10px;
    top:50%;
    margin-top:-12px;
    display:inline-block;
    transform:scale(0.8);
}

.ant-dropdown li.ant-dropdown-menu-item a , .ant-dropdown li.ant-dropdown-menu-item span{
    font-size:12px;
}

.ant-dropdown li.ant-dropdown-menu-item i {
    margin-right:4px;
}

.ant-form .ant-form-item {
    margin:4px 0;
}


/*

    @选择框样式
*/

.ant-select.user-select {
    width:300px;
}

/*

    评论框@弹出框样式
*/
.ant-select.forUser .ant-select-selection {
    min-width:200px;
}
/*
    动画遮挡问题
*/
.ant-modal .ant-modal-body .ant-tabs {
    overflow: visible;
}


/*
    话题页面卡片容器样式
*/

.mode-button button.current {
    color:#40a9ff;
    border-color:#40a9ff;
}

.topic-card-container  {
    font-size:12px;
    border-radius:4px;
    position:relative;
    text-align:left;
}

.topic-card-container.simple {
    padding:0;
    padding-top:4px;
    border-radius:4px;
    background-color: #f7f7f7;
}

.action.forDetail .topic-card-container.simple {
    background-color:#fff;
}

.topic-card-container.simple .topic-card-body {
    border:none;
    padding:0 20px 10px 20px;
}

.topic-card-container  .topic-card-body{
    padding:30px 20px 20px 20px;
    border:1px solid #e8e8e8;
    border-bottom:none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.topic-card-container .label {
    transform: scale(0.6);
    transform-origin: left;
    background-color: #ebf5fd;
    padding: 6px 20px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 14px;
    color: #2d2c2c;
    position:absolute;
    top:-2px;
}

.topic-card-container .title {
    cursor: pointer;
    color: rgba(0,0,0,.85);
    font-weight: 500;
    font-size:18px;
    margin:10px 0;
}

.topic-card-container .text {
    transform: scale(0.8);
    display: inline-block;
    transform-origin: left;
}

.topic-card-container .desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.topic-card-container .topic-img-container {
    width:33%;
    height:80px;
    display:inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius:4px;
}

.topic-card-container .user-container {
    display:flex;
    align-items:center;
    color:#000;
    transform:scale(0.8);
    transform-origin: left;
}

.topic-card-container .avatar-container {
    width:30px;
    height:30px;
    border-radius: 50%;
    overflow: hidden;
    display:inline-block;
}

.topic-card-container .avatar-container img{
    width:100%;
    height:100%;
}

.topic-card-container.inline {
    position:absolute;
    padding:4px;
}

.topic-card-container.inline .topic-img-container{
    width:100%;
}

.topic-card-container .topic-card-extra {
    text-align: center;
    background-color: #fafafa;
    border: 1px solid #e8e8e8;
    padding:6px;   
    font-size:12px;
    display:flex;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.topic-card-container .topic-card-extra>div {
    flex:1;
    border-right:1px solid #e8e8e8;
}

.topic-card-container .topic-card-extra>div:last-of-type{
    border-right:none
}

.topic-card-container .topic-card-extra:hover {
    cursor:pointer;
}

.topic-card-container .topic-card-extra i{
    margin-right:4px;
}

.topic-tag {
    background-color:#ebf5fd;
    color:#0c3f6d;
    padding: 2px 10px;
    border-radius: 4px;
    margin:4px;
    display:inline-block;
    font-size:12px;
    cursor:pointer;
}

.topic-tag:hover {
    background-color:rgba(133, 190, 243, 0.8);
    color:#fff;
}

.topic-tag.selected {
    color:#fff;
    background-color:rgba(133, 190, 243, 0.8);
}

.topic-tag .topic-tag-text{
    display: inline-block;
    transform: scale(0.8);
}

.topic-shareBy {
    border-bottom:1px solid #e8e8e8;
    position:relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding:10px;
    min-width:300px;

}

.topic-shareBy:last-of-type {
    border-bottom:none;
}

.topic-shareBy-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    width:300px;
}

.topic-shareBy-avatar {
    display:inline-block;
    width:30px;
    height:30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right:10px;
}

.topic-shareBy-avatar img {
    width:100%;
    height:100%;
}

.topic-tag-container {
    margin:6px 0;
}

.content-tag {
    background-color:#ebf5fd;
    color:#0c3f6d;
    display: inline-block;    
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 12px;
    transform-origin: left;
    transform: scale(0.8);
    transition:all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.content-tag.inline {
    margin:0;
    transform:scale(0.8);
    transform-origin: left;
}


.comment-form .ant-form-item {
    margin-bottom:4px;
}

.comment-form .ant-form-item-control {
    line-height:0;
}

.ant-list.news-list .ant-list-item {
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 20px;
    border:none;
    position:relative;
}

.ant-list.news-list .news-img {
    height: 50px;
    overflow: hidden;
    flex: 1 1 0%;
}

.ant-list.news-list .news-img img{
    width:100%;
    height:100%;
    border-radius:4px;
}

/*
 用户头像 进度条样式

*/

.ant-progress .ant-progress-inner {
    box-shadow: inset 2px 1px 2px rgba(0,0,0,.2);
}

@keyframes selectedComment {
    0% {
        background-color:#fff;
    }
    50%{
        background-color:rgba(24, 144, 255, 0.1);

    }
    100%{
        background-color:#fff;
    }
}

@keyframes collectAction{
    0% {
        
        transform: scale(2) rotate(0deg);
        -ms-transform: scale(2) rotate(0deg);     
        -moz-transform: scale(2) rotate(0deg);    
        -webkit-transform:scale(2) rotate(0deg);
        -o-transform: scale(2) rotate(0deg);  
    }
    60% {
        
        transform: scale(0) rotate(180deg);
        -ms-transform: scale(0) rotate(180deg) ;     
        -moz-transform: scale(0) rotate(180deg);    
        -webkit-transform:scale(0) rotate(180deg);
        -o-transform: scale(0) rotate(180deg);  
    }
    100% {
        
        transform: scale(1) rotate(360deg);
        -ms-transform: scale(1) rotate(360deg);     
        -moz-transform: scale(1) rotate(360deg);    
        -webkit-transform:scale(1) rotate(360deg);
        -o-transform: scale(1) rotate(360deg);  
    }
}
@keyframes iconAction{
    0% {
        opacity:0;

        transform:rotate(-60deg) scale(0);
        -ms-transform:rotate(-60deg) scale(0);     
        -moz-transform:rotate(-60deg) scale(0);    
        -webkit-transform:rotate(-60deg)scale(0);
        -o-transform:rotate(-60deg) scale(0);  
    }
    
    50% {
        
        transform:rotate(60deg) scale(2);
        -ms-transform:rotate(60deg) scale(2);     
        -moz-transform:rotate(60deg) scale(2);    
        -webkit-transform:rotate(60deg) scale(2);
        -o-transform:rotate(60deg) scale(2);  
    }
    
    100% {
        opacity:1;
        transform:rotate(0deg) scale(1);
        -ms-transform:rotate(0deg) scale(1);     
        -moz-transform:rotate(0deg) scale(1);    
        -webkit-transform:rotate(0deg) scale(1);
        -o-transform:rotate(0deg) scale(1);  
    }
}    


@keyframes checkLoginCss {
    0%{
        opacity: 1 
    }
    100%{
        opacity: 0
    }
}

@keyframes  newsMotion {
    0%{
        transform:scaleY(1) translateX(0);
    }
    100%{
        transform:scaleY(0.5) translateX(-500px);
    }
}

@keyframes rollIn {
    0% {
        opacity: 1;
        transform:translateX(-300px) rotate(-90deg);
    }
    
    90%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform:translateX(-300px) rotate(0deg);
    }
}

@keyframes rollOut {
    0% {
        opacity: 1;

        transform:translateX(-300px) rotate(0deg);
    }
    
    90%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform:translateX(-300px) rotate(-90deg);
    }
}


