/*
    图文新闻板块样式
*/

.imgNewsList {
    margin:20px 0;
    text-align:left;
}

.imgNewsList .news-title {
    margin-bottom:2px;
    background: #f7f7f7;
    padding: 6px 10px 10px 20px;
    border-radius: 4px;
}

.imgNewsList.small .news-title {
    padding:6px;
}

.imgNewsList .news-title span.text{
    font-size:14px;
    color:rgba(0, 0, 0, 0.85);
    font-weight:500;
}

.imgNewsList .news-title span.text i{
    margin-right:4px;
}

.imgNewsList .news-title .button{
    float:right;
    font-size:12px;
    cursor: pointer;
    transform:scale(0.8);
}

.imgNewsList .news-title .button i{
    margin-right:4px;
}


.imgNewsList .block-container {
    display:flex;
    flex-wrap: wrap;
    background-color:#f7f7f7;
    padding:10px;
    border-radius:4px;
}

.imgNewsList.small .block-container {
    padding:6px;
}

.imgNewsList .imageblock {
    flex:1;
    text-align:left;
    padding:10px;
    border-radius: 4px;
    background-color:#f7f7f7;
}

.imgNewsList.small .imageblock {
    padding:6px;
}

.imgNewsList .imageblock a {
    display:inline-block;
    width:100%;
    background-color:#fff;
    border-radius:4px;
    box-shadow: 1px 1px 1px rgba(222, 222, 222, 1);
}

.imgNewsList .imageblock a:hover {
    transform:scale(1.2);
    box-shadow:4px 4px 7px rgba(0,0,0,0.1);
}

.imageblock .custom-image  {
    height:60px;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.custom-card {
    padding:4px 10px;
}

.imageblock .custom-card h3 {
    font-size:12px;
    margin-bottom:0;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.imageblock .custom-card span {
    font-size:12px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    display: inline-block;
    transform:scale(0.9);
    transform-origin: left;
    width: 100%;
    color:#9e9e9e;
    
}

.custom-card p {
    color: #999;
}
